.hd{
    text-align: center;
    font-size: xx-large;
}

.search{
    text-align: center;
    
}
.boxin{
    border-radius: 7px;
    margin: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}
.bt{
    margin: 15px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.heading{
    background-color:#ffbe76;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: large;
}
.contain{
    display: flex;
    flex-direction: column;
    background-color:#d1ccc0 ;

}
.pic{
    width: 55vh;
    height: 55vh;
    border: 3px solid black;    
    margin: 20px;
}
.containerone{
    display: flex;
    flex-direction: row;

}